In [1]:
# ---------------------------------------------------------------------------------------
# Author: Luis Starlino
# DateTime: 09/08/2025 - 08:40 AM 
# Description: Practical example of our model being used to predict fraudulent transactions
# ---------------------------------------------------------------------------------------

In [20]:
# --- Imports
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model
from sklearn.metrics import accuracy_score


import os
print(os.getcwd())
print(os.listdir())

C:\Users\Luis\anaconda_projects\analytics-transaction
['.git', '.gitignore', '.ipynb_checkpoints', '01_dummy_data_generator.ipynb', '02_preprocessing_data.ipynb', '03_training_dataset.ipynb', '04_model_using_example.ipynb', 'ai-model.keras', 'transacoes_fraude.csv', 'transacoes_fraude_preprocessado.csv']

In [12]:
# --- 1. Define new preprocessing dataset and load dataframe
raw_data = """
Valor da Transação,Classe(transações anteriores),Classe (rótulo),Recorrência de envios do mesmo valor,Idade do titular do cartão,Classe(cartão temporário),Limite de crédito,Classe(nome lista devedores),Número de cartões complementares,Numero transações para outro pais,Número de transações suspeitas anteriormente,Valor médio das transações do usuário,Classe(emprego fixo),Dispositivo de acesso novo?,Hora da Transação,Dias desde criação da conta,Dias desde ativação cartão,Segundos desde última transação,Latitude,Longitude,pagamento_atrasado,pagamento_bom,pagamento_inadimplente
140.78,0,1,0,35,0,20000,0,4,0,0,364.77,0,0,5,1156,1102,975850.0,25.096824,-170.996128,False,True,False
50.89,1,0,0,75,1,1000,0,5,5,2,452.3,0,0,10,2902,2848,1411779.0,11.024111,77.767061,False,True,False
17.95,1,0,1,23,1,20000,0,3,8,2,457.92,1,0,13,3501,3491,2421590.0,-73.305748,-145.182104,False,False,True
6.24,1,1,0,47,0,10000,1,3,5,1,376.74,1,1,7,963,882,878736.0,36.822931,-163.503222,True,False,False
535.93,0,0,0,38,1,10000,1,5,8,1,253.66,1,0,2,322,234,234620.0,36.327656,66.07716,False,False,True
108.83,1,0,0,45,1,2000,1,3,7,1,253.43,0,1,1,1673,1591,1034430.0,57.924467,109.816488,True,False,False
"""

df_new_data = pd.read_csv(pd.io.common.StringIO(raw_data))

# --- Split features (X) and target(y)
y_original = df_new_data['Classe (rótulo)']
df_new_data = df_new_data.drop('Classe (rótulo)', axis=1)



df_new_data.head()

,Valor da Transação,Classe(transações anteriores),Recorrência de envios do mesmo valor,Idade do titular do cartão,Classe(cartão temporário),Limite de crédito,Classe(nome lista devedores),Número de cartões complementares,Numero transações para outro pais,Número de transações suspeitas anteriormente,...,Dispositivo de acesso novo?,Hora da Transação,Dias desde criação da conta,Dias desde ativação cartão,Segundos desde última transação,Latitude,Longitude,pagamento_atrasado,pagamento_bom,pagamento_inadimplente
0,140.78,0,0,35,0,20000,0,4,0,0,...,0,5,1156,1102,975850.0,25.096824,-170.996128,False,True,False
1,50.89,1,0,75,1,1000,0,5,5,2,...,0,10,2902,2848,1411779.0,11.024111,77.767061,False,True,False
2,17.95,1,1,23,1,20000,0,3,8,2,...,0,13,3501,3491,2421590.0,-73.305748,-145.182104,False,False,True
3,6.24,1,0,47,0,10000,1,3,5,1,...,1,7,963,882,878736.0,36.822931,-163.503222,True,False,False
4,535.93,0,0,38,1,10000,1,5,8,1,...,0,2,322,234,234620.0,36.327656,66.077160,False,False,True

In [14]:
# --- 3. Explicitly convert all columns to a numeric type ---
for col in ['pagamento_atrasado', 'pagamento_bom', 'pagamento_inadimplente']:
    df_new_data[col] = df_new_data[col].astype(int)

# --- 4. Generate a numpy array (using in ML)
X_new_df_array = df_new_data.to_numpy()


print("✅ Input data successfully prepared.")
print(f"Data format for forescasting: {X_new_df_array.shape}\n")

✅ Input data successfully prepared.
Data format for forescasting: (6, 22)

In [15]:
# --- 5. Load ML model
try:
    model_path = "C:\\Users\\Luis\\anaconda_projects\\analytics-transaction\\ai-model.keras"
    final_model = load_model(model_path)

    print("✅ Successfully loading .keras ML")
except:
    print("❌ Error: Model not found. Check the path to import.")
    exit()

✅ Successfully loading .keras ML

C:\Users\Luis\anaconda3\Lib\site-packages\keras\src\saving\saving_lib.py:797: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 8 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [17]:
# --- 6. Making the prediction
probability_forecast = final_model.predict(X_new_df_array)
class_forecast = (probability_forecast > 0.5).astype("int32")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step

In [22]:
# --- 7. Show Results
print("\n--- Resultados da Previsão ---")
for i in range(len(class_forecast)):
    previsao = 'Falsa' if class_forecast[i][0] == 1 else 'Verdadeira'
    rotulo_real = 'Falsa' if y_original.iloc[i] == 1 else 'Verdadeira'

    print(f"Análise {i+1}:")
    print(f"  Previsão do modelo: {previsao} (Probabilidade: {probability_forecast[i][0]:.4f})")
    print(f"  Rótulo Original: {rotulo_real}")

    if class_forecast[i][0] == y_original.iloc[i]:
        print("  Status: ✅ Previsão correta.")
    else:
        print("  Status: ❌ Previsão incorreta.")

--- Resultados da Previsão ---
Análise 1:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Falsa
  Status: ❌ Previsão incorreta.
Análise 2:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Verdadeira
  Status: ✅ Previsão correta.
Análise 3:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Verdadeira
  Status: ✅ Previsão correta.
Análise 4:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Falsa
  Status: ❌ Previsão incorreta.
Análise 5:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Verdadeira
  Status: ✅ Previsão correta.
Análise 6:
  Previsão do modelo: Verdadeira (Probabilidade: 0.0000)
  Rótulo Original: Verdadeira
  Status: ✅ Previsão correta.

In [23]:
# --- 8. Accuracy 
accuracy = accuracy_score(y_original, class_forecast)
print(f"\n--- Total Accuracy ---")
print(f"Model accuracy on test data: {accuracy:.2f}")

--- Total Accuracy ---
Model accuracy on test data: 0.67